.info {
    display: flex;
    min-width: 563px;
    // height: 707px;
    background-color: #413636;
    background-size: 565px 707px;
    &_photo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}


.content {
    padding: 70px 28px 25px 38%;
    
}
.info_img {
    
    margin-right: 15px;
    left: 11.65%;
    right: 11.99%;
}
.info__item {
    
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
}
.info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130.69%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.info_car {
    width: 45%;
}
.info_text {
    margin-left: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    color: #D9D9D9;
    &_black {
        color: #0C0C0C;
        margin: 0;
    }
}