.overlay {
    display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0,0,0, .56);
    
    
}
.ham_hide {
         
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0,0,0, .56);
    
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal_2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal_3 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    
    position: relative;
    background-color: #413636;
    margin: auto;
    padding: 0;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 35px;
    
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal_house_1 {
    display: block;
    position: relative;
    background-color: #413636;
    margin: auto;
    padding: 0;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 35px;
    
}
.pop {
    
    display: block;
    position: absolute;
    z-index: -1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 220px;
    min-height: 200px;
    background-color: #f2f2f2;
    &_mini {
        min-height: 140px;
    }
    
    
    
}
.modal__close_down {
    margin-top: 20px;
}
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 41px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
    &_white {
        color: #fff;
    }
}

.modal__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    color: #413636;
}

.modal__subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-align: center;
    color: #363636;
    margin-bottom: 20px;
}

form {
    padding-top: 5px;
}

.modal-form__input {
    
    padding-left: 20px;
    width: 100%;
    border: 1.5px solid #413636;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #413636;
}

.modal-text {
    border: 1.5px solid #413636;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    padding: 10px 0 10px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #413636;
}
.modal-form_button {
    background: #E49B0F;
    border-radius: 10px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    &:hover {
        background-color: #CC8805;
    }
}

.modal_privacy {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: rgba(27, 27, 27, 0.5);
    div {
        margin-left: 5px;
        margin-top: 4px;
    }
}
.button__download {
    width: 100%;
    padding: 0;
   color: #fff;
   &:hover {
    color: #fff;
    text-decoration: none;
   }
}



.modal_house_title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130.69%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #C2C2C2;
}
.modal_house_subtitle {
    font-style: normal;
    font-weight: bold;
    
    color: #E49B0F;

}
.modal_descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #D9D9D9;
    padding-bottom: 36px;
    span {
        color: #E49B0F;
    }
}

.modal_house_3 {
    display: block;
    position: relative;
    background-color: #413636;
    margin: auto;
    padding: 0;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 35px;
    
}
.modal_house_2 {
    display: block;
    position: relative;
    background-color: #413636;
    margin: auto;
    padding: 0;
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 35px;
    
}


.wrapper_descr {
    padding-top: 20px;
    padding-bottom: 30px;
    .title_descr {
        font-style: normal;
        font-weight: 500;
        
        line-height: 150%;
        color: #E49B0F;
    }
    .descr_text {
        font-style: normal;
        font-weight: 500;
        
        line-height: 150%;
        color: #FFFFFF;
    }
}

.house_img_svet {
    width: 100%;
}
.modal_house_two-img {
    width: 100%;
}

.modal_img_three {
    width: 100%;
}
.modal_img_thre {
    width: 100%;
}

#consultation, #order, #thanks, #download   {
    display: none;
}


